@tailwind base;
@tailwind components;
@tailwind utilities;

/* ton CSS éventuel en dessous */
body {
  background: #fafafa;
}
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background: #fafafa;
}
